:host {
  display: block;
  width: 100%;
}

.hero-details {
  background-color: #3a3a3a;
  border-radius: 2px;
  padding: 20px;
  font-size: 1.2rem;
  color: #b3b9c5;
}

.hero-details h2 {
  margin-top: 0;
}

.form {
  margin-bottom: 20px;
}
