.heroes {
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
  padding-left: 0;
}

.hero {
  list-style: none;
  margin-left: 60px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 280px;
  font-size: 1.3rem;
  background-color: #3a3a3a;
  border-radius: 2px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  box-sizing: border-box;
  cursor: pointer;
}

.hero:hover {
  transform: translateY(-5%);
}

.hero a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero a:link,
.hero a:visited {
  text-decoration: none;
  color: #b3b9c5;
}

.hero:hover a:link {
  color: #fff;
}

/*.hero.selected {*/
/*    color: #444;*/
/*    background-color: #ebebeb;*/
/*}*/

/*.hero.selected .badge {*/
/*    background-color: #d0d0d0;*/
/*}*/

.hero .title {
  word-break: break-all;
  padding: 20px;
  display: block;
  width: 100%;
}

.hero .badge {
  font-size: 80%;
  background-color: #6e6e6e;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 0 20px;
  flex-shrink: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
