<h2>Heroes</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes" class="hero" (click)="onSelect(hero)">
        <a routerLink="/detail/{{hero.id}}">
          <span class="badge">{{hero.id}}</span>
          <span class="title">{{hero.name}}</span>
        </a>

      <button class="delete" title="Delete hero"
              (click)="delete(hero)">&#10006;</button>
    </li>
</ul>

<div>
  <label>
    <span class="text-light">Hero name:</span>
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">Add</button>
</div>
